@import 'tailwindcss/utilities';
@import 'tailwindcss/theme';

@theme {
  --font-sans: initial;
  --font-serif: initial;
  --font-mono: initial;
  --breakpoint-sm: 450px;
  --breakpoint-md: 760px;
  --breakpoint-lg: 1000px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --color-dark: #1c1c1a;
  --color-primary: rgb(106, 94, 82);
  --color-primary: rgb(106, 94, 82);
  --color-secondary: rgb(151, 144, 134);
  --color-light: rgb(226, 225, 225);
}

@font-face {
  font-family: 'Josefin Sans';
  src:
    local('Josefin Sans Light'),
    local('JosefinSans-Light'),
    url('/fonts/JosefinSans-Light.woff2') format('woff2'),
    url('/fonts/JosefinSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merienda';
  src:
    url('/fonts/Merienda-Bold.woff2') format('woff2'),
    url('/fonts/Merienda-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  a {
    cursor: pointer;
  }

  body {
    font-weight: 400;
    line-height: 1.5;
    color: #222;
  }

  body,
  input {
    font-family:
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Helvetica Neue,
      Arial,
      sans-serif;
    font-size: 18px;
  }

  body,
  html {
    @apply m-0 p-0;
  }

  figcaption,
  figure,
  img {
    @apply block m-0;
  }

  h1 {
    @apply m-0;
    font-size: clamp(2.4rem, 2.6rem, 6vw);
  }

  h2 {
    @apply mb-6 mt-0 text-4xl text-center;
  }

  h1,
  h2 {
    @apply max-w-screen-md mx-auto;
    color: var(--color-dark);
  }

  h1,
  h2,
  header a {
    @apply font-light leading-tight uppercase;
    font-family: 'Josefin Sans';
  }

  h3 {
    @apply mb-4 mt-8 text-xl;
  }

  header {
    @apply min-h-12;
  }

  header a {
    @apply block py-1 text-white;
  }

  img {
    @apply border-2 border-gray-400 h-auto max-w-full rounded-xl w-full;
  }

  main a:not(.video-link):not(:hover) {
    @apply no-underline text-blue-600;
  }

  main a:not(.video-link):hover {
    @apply underline text-red-600;
  }

  nav a {
    @apply px-4;
  }

  @media screen and (min-width: 1120px) {
    header a {
      @apply inline-block py-1 px-4;
    }

    header a:not(:hover) {
      @apply no-underline;
    }
  }

  @media screen and (max-width: 1119px) {
    header a {
      @apply block no-underline;
    }

    nav {
      @apply pb-1;
    }

    nav:not(.hidden) {
      @apply absolute flex flex-col left-0 w-full bg-dark top-full text-white z-10;
    }

    nav a {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
}

@layer component {
  #page-subTitle {
    @apply font-bold mb-4 text-3xl;
    font-family: 'Merienda';
  }

  .video a:not(:hover) {
    @apply no-underline;
  }

  .video-channel:hover,
  .video-link:hover {
    @apply text-red-600;
  }

  .video-link:not(:hover) {
    @apply text-black;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

footer,
footer a,
header nav a:not(.active) {
  color: var(--color-light);
}

header nav a.active,
#logo {
  color: var(--color-white);
}

small,
.desc {
  font-size: 16px;
}

#page-subTitle,
.bg-primary,
.desc,
.video-channel {
  color: var(--color-primary);
}
