{
	"arrowParens": "avoid",
	"bracketLine": false,
	"bracketSpacing": false,
	"endOfLine": "auto",
	"importOrder": [
		"builtin",
		"external",
		"parent",
		"sibling",
		"index"
	],
	"importOrderSeparation": false,
	"importOrderSortSpecifiers": true,
	"plugins": [
		"prettier-plugin-svelte"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"pluginSearchDirs": [
		"."
	],
	"printWidth": 1000,
	"quoteProps": "as-needed",
	"semi": false,
	"singleAttributePerLine": false,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"useTabs": false
}